body {
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
}

/* Cards */
.card {
  border-radius: 15px;
  border: none;
}

/* Table */
.table {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.table th {
  background: #343a40;
  color: white;
}

/* Buttons */
.btn {
  border-radius: 25px;
  padding: 6px 16px;
}

/* Forms */
.form-control {
  border-radius: 12px;
}

/* Overdue Highlight */
.overdue {
  background: #fff3f3 !important;
  border-left: 5px solid red;
}

/* Smooth Hover */
.table tr:hover {
  background: #f1f3f5;
  transition: 0.2s;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: white !important;
}

.status-pending {
  color: orange;
  font-weight: bold;
}

.status-paid {
  color: green;
  font-weight: bold;
}

.btn-custom {
  background-color: #007bff;
  color: white;
}

.btn-custom:hover {
  background-color: #0056b3;
}
